@import './colors.scss';

.home {
width: 100%;
height: 100vh;
background-color: rgb(240, 232, 232);
border-radius: 0 0 200px 200px ;
z-index: 10;
>main{
    position: absolute;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 2rem; 
    justify-content: center;

    h1{
        font: 400 6rem 'Roboto';
    }
    p{
        font:900 1rem 'Roboto';
        color: azure;
    }
}

&::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: no-repeat center/auto url('../assets/5.png');
    // filter: blur(3px);
    border-radius: 0 0 200px 200px ;

}

}

.home2{
    width: 100%;
    height: 100vh;
    background-color: #090c31;
    padding: 500px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    z-index: 9;
    >img{
        width: 30%;
        animation: imgUp 0.7s linear infinite alternate ;
    }
    >div{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        height: 100vh;
        p{
            color: white;
            letter-spacing: 2px;
            word-spacing: 5px;
            font: 100 1.2rem san-sarif;
        }
    }
}
@keyframes imgUp {
    to{
        transform: translateY(-10px);
    }
}
.home3{
    width: 100%;
    height: 100vh;
    background-color:#090c31;
    margin-top: -200px;
    display: flex;
    >div{
        width: 70%;
        background-color: azure;
        border-radius: 0 200px 200px 0;
        display: flex;
        flex-direction: column ;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        >h1{
            text-transform: uppercase;
            border-bottom: 2px solid ;
            padding: 0.5rem;
            width: 15rem ;
            color: #090c31;
        }
        >p{
            padding: 5rem;
            letter-spacing: 1px ;
            word-spacing: 5px;
            line-height: 170%;
            font: italic 100 1.2rem san-sarif;

        }
    }
}